<html lang="en">

<head>
    <link rel="shortcut icon" href="fav.png" type="image/png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List -
        <%= Day %>
    </title>
    
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-purple-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">Your Planning Spot</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-white">Sign Out</a>
            <a class="mr-5 hover:text-white">Sign In</a>
          </nav>
        </div>
      </header>

    <div id="heading" class="box">
        <h1>
            <%= Day %>
        </h1>
    </div>

    <div class="box">
        <% for(var i=0; i < newli.length; i++){ %>
            <div class="item">
                <form action="/delete" method="post">
                    <input style="margin-left: 2em;margin-top: 2em;" value="<%=newli[i]._id%>" name=<%= i %> onChange="this.form.submit()" type="checkbox">
                </form>
                <p>
                    <%= newli[i] %>
                </p>
            </div>
            <%  } %>
                <form action="/" method="POST" id="sub">
                    <input type="text" autocomplete="off" name="newItem" placeholder="Type New Item here" id="">
                    <button type="submit" name="button">Add</button>
                </form>
    </div>

    <!-- <marquee behavior="" direction="">Website by Aryan, Follow me on Instagram and Watch my YouTube Channel</marquee> -->
</body>

</html>